<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<div id="detail" align="center">
    <table border="1" cellpadding="5">
        <div class="productdetail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="productdetail">
        <label>Price:</label>
        <label th:text="${product.price}"></label>
    </div>
    <div class="productdetail">
        <label>Description:</label>
        <label th:text="${product.description}"></label>
    </div>

    <div class="productdetail">
        <label>Trademark</label>
        <label th:text="${product.trademark}"></label>
    </div>
    </table>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
